.container {
  overflow: hidden;
}

.imgBox {
  position: relative;
  margin: 0;
  width: 100%;
  height: 30vh;
  background-image: url("../Resource/aboutUs.jpg");
  background-position: center center;
  background-size: cover;
}

.imgBox p.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 100%;
  font-size: 40px;
  color: white;
}

.imgBox .opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}

.imgBox .showMore {
  z-index: 5;
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 14px;
  color: white;
}

.imgBox .showMore .showMoreText {
  margin: 0;
  padding: 5px;
}

.imgBox .showMore .showMoreIcon {
  padding: 5px;
}

.textBox {
  width: calc(100% - 20px);
  padding: 5px 10px;
  text-align: justify;
}

.teamContainer .title p {
  width: 100%;
  color: white;
  background-color: #2a91a4;
  font-size: 30px;
  text-align: center;
  padding: 15px;
  margin: 40px 0;
}

.teamContainer .teamBox {
  display: flex;
  align-items: center;
}

.teamContainer .teamBox img {
  width: 40vw;
  height: 60vh;
  object-fit: cover;
}

.teamBox .text .name {
  font-weight: bold;
  font-size: 26px;
  margin: 0;
}

.teamBox .text .specialization {
  font-size: 20px;
  margin: 0;
}

.teamBox .text .description {
  text-align: justify;
  font-size: 15px;
  padding: 0 15px;
}

@media (min-width: 768px) and (orientation: portrait) {
  .imgBox {
    height: 40vh;
  }
  .imgBox p.title {
    font-size: 50px;
  }

  .imgBox .showMore {
    font-size: 20px;
  }

  .textBox {
    font-size: 24px;
  }

  .teamContainer .title p {
    font-size: 35px;
  }

  .teamContainer .teamBox img {
    width: 50vw;
    height: 65vh;
  }

  .teamBox .text .name {
    font-size: 40px;
  }

  .teamBox .text .specialization {
    font-size: 25px;
  }

  .teamBox .text .description {
    font-size: 22px;
  }
}

@media (min-width: 900px) and (orientation: portrait) {
  .imgBox p.title {
    font-size: 60px;
  }

  .imgBox .showMore {
    font-size: 24px;
  }

  .textBox {
    font-size: 28px;
  }

  .teamContainer .title p {
    font-size: 45px;
  }

  .teamBox .text .name {
    font-size: 50px;
  }

  .teamBox .text .specialization {
    font-size: 30px;
  }

  .teamBox .text .description {
    font-size: 28px;
  }
}

@media (min-width: 667px) and (orientation: landscape) {
  .imgBox {
    height: 80vh;
  }
  .imgBox p.title {
    font-size: 50px;
  }

  .imgBox .showMore {
    font-size: 20px;
  }

  .textBox {
    font-size: 20px;
  }

  .teamBox .text {
    width: 50%;
  }

  .teamContainer .title p {
    font-size: 35px;
  }

  .teamContainer .teamBox img {
    width: 30%;
    height: 130vh;
  }

  .teamContainer .teamBox {
    justify-content: center;
  }

  .teamBox .text .name {
    font-size: 30px;
  }

  .teamBox .text .specialization {
    font-size: 22px;
  }

  .teamBox .text .description {
    font-size: 18px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .imgBox p.title {
    font-size: 60px;
  }

  .imgBox .showMore {
    font-size: 26px;
  }

  .textBox {
    font-size: 26px;
  }

  .teamBox .text {
    width: 50%;
  }

  .teamContainer .title p {
    font-size: 45px;
  }

  .teamBox .text .name {
    font-size: 50px;
  }

  .teamBox .text .specialization {
    font-size: 40px;
  }

  .teamBox .text .description {
    font-size: 30px;
  }
}
