.container {
  width: 100%;
}

.container .cart {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container .submitBtn {
  background-color: #2a91a4;
  padding: 10px;
  border: none;
  margin: 10px 0 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.container .submitBtn .icon {
  padding-left: 5px;
}

.container p.title {
  font-weight: bold;
  font-size: 30px;
}

.container p.sum {
  text-align: right;
  padding: 10px;
  width: 80%;
  margin: 10px auto;
  font-weight: bold;
}

@media (min-width: 768px) and (orientation: portrait) {
  .container .submitBtn {
    font-size: 25px;
    padding: 15px;
  }

  .container .submitBtn .icon {
    padding-left: 10px;
  }

  .container p {
    font-size: 25px;
  }

  .container p.title {
    font-size: 45px;
  }

  .container p.sum {
    margin: 20px auto;
  }
}

@media (min-width: 900px) and (orientation: portrait) {
  .container .submitBtn {
    font-size: 40px;
    padding: 20px;
    margin: 30px 0;
  }

  .container .submitBtn .icon {
    padding-left: 20px;
  }

  .container p {
    font-size: 35px;
  }

  .container p.title {
    font-size: 55px;
  }
}

@media (min-width: 667px) and (orientation: landscape) {
  .container .submitBtn {
    font-size: 22px;
    padding: 15px;
  }

  .container .submitBtn .icon {
    padding-left: 10px;
  }

  .container p {
    font-size: 20px;
  }

  .container p.title {
    font-size: 45px;
  }

  .container p.sum {
    margin: 20px auto;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .container .submitBtn {
    margin: 30px;
    font-size: 32px;
    padding: 15px;
  }

  .container .submitBtn .icon {
    padding-left: 10px;
  }

  .container p {
    font-size: 24px;
  }

  .container p.title {
    font-size: 50px;
  }

  .container p.sum {
    margin: 20px auto;
  }
}
