.container .detailsBox {
  border-top: 1px rgb(185, 185, 185) solid;
  border-bottom: 1px rgb(185, 185, 185) solid;
}

.detailsBox .links a {
  color: black;
  text-decoration: none;
}

.detailsBox p.links {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
}

.detailsBox h1 {
  text-align: left;
  margin-left: 10px;
  font-size: 24px;
}

.detailsBox img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.detailsBox .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.detailsBox .details .price {
  font-size: 30px;
  font-weight: bold;
}

.detailsBox .details .leftBox {
  display: flex;
  align-items: center;
}

.detailsBox .details .leftBox p {
  margin-left: 5px;
}

.detailsBox .details .heartIcon {
  margin-left: 25px;
  font-size: 26px;
}

.detailsBox .buttons button {
  border: none;
  background-color: #2a91a4;
  width: 60%;
  height: 7vh;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.detailsBox .buttons {
  margin-bottom: 20px;
}

.descriptionBox {
  margin-bottom: 20px;
}

.descriptionBox p.title {
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
}

.descriptionBox p.description {
  text-align: justify;
  font-size: 16px;
  padding: 10px;
  display: block;
  overflow: hidden;
}

.descriptionBox button {
  border: none;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.userDetails {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

.userDetails img {
  width: 25vw;
  height: 25vw;
  border-radius: 100px;
}

.userDetails .details p.name {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.userDetails .details .dataBox {
  display: flex;
}

.userDetails .details .dataBox p {
  font-size: 13px;
  margin: 5px;
}

@media (min-width: 768px) and (orientation: portrait) {
  .detailsBox p.links {
    margin-left: 20px;
    font-size: 22px;
  }

  .detailsBox h1 {
    font-size: 32px;
  }

  .detailsBox img {
    width: 90%;
  }

  .detailsBox .details {
    width: 80%;
  }

  .detailsBox .details .price {
    font-size: 40px;
  }

  .detailsBox .details .leftBox p {
    margin-left: 5px;
    font-size: 22px;
  }
  .detailsBox .details .leftBox .userIcon {
    font-size: 22px;
  }

  .detailsBox .details .heartIcon {
    font-size: 35px;
  }

  .detailsBox .buttons button {
    width: 50%;
    font-size: 30px;
    margin: 20px;
  }

  .detailsBox .buttons button .icon {
    margin-left: 15px;
  }

  .descriptionBox p.title {
    font-size: 24px;
  }

  .descriptionBox p.description {
    font-size: 22px;
  }

  .descriptionBox button {
    font-size: 20px;
  }

  .userDetails {
    width: 70%;
  }

  .userDetails .details p.name {
    font-size: 35px;
  }

  .userDetails .details .dataBox p {
    font-size: 18px;
    margin: 5px;
  }
}

@media (min-width: 900px) and (orientation: portrait) {
  .detailsBox p.links {
    font-size: 30px;
  }

  .detailsBox h1 {
    font-size: 40px;
  }

  .detailsBox .details .price {
    font-size: 50px;
  }

  .detailsBox .details .leftBox p {
    font-size: 30px;
  }
  .detailsBox .details .leftBox .userIcon {
    font-size: 30px;
  }

  .detailsBox .details .heartIcon {
    font-size: 45px;
  }

  .detailsBox .buttons button {
    width: 50%;
    font-size: 35px;
    margin: 20px;
  }

  .descriptionBox p.title {
    font-size: 32px;
  }

  .descriptionBox p.description {
    font-size: 28px;
  }

  .descriptionBox button {
    font-size: 30px;
  }

  .userDetails {
    width: 75%;
  }

  .userDetails img {
    width: 30vw;
    height: 30vw;
    border-radius: 160px;
  }

  .userDetails .details p.name {
    font-size: 45px;
  }

  .userDetails .details .dataBox p {
    font-size: 24px;
    margin: 5px;
  }
}

@media (min-width: 667px) and (orientation: landscape) {
  .detailsBox p.links {
    margin-left: 20px;
    font-size: 20px;
  }

  .detailsBox h1 {
    font-size: 28px;
  }

  .detailsBox img {
    width: 80%;
    height: 90vh;
  }

  .detailsBox .details {
    width: 80%;
  }

  .detailsBox .details .price {
    font-size: 36px;
  }

  .detailsBox .details .leftBox p {
    margin-left: 5px;
    font-size: 20px;
  }
  .detailsBox .details .leftBox .userIcon {
    font-size: 20px;
  }

  .detailsBox .details .heartIcon {
    font-size: 30px;
  }

  .detailsBox .buttons button {
    width: 50%;
    height: auto;
    padding: 15px;
  }

  .detailsBox .buttons button .icon {
    margin-left: 15px;
  }

  .descriptionBox p.title {
    font-size: 24px;
  }

  .descriptionBox p.description {
    font-size: 22px;
  }

  .descriptionBox button {
    font-size: 20px;
  }

  .userDetails {
    width: 70%;
  }

  .userDetails .details p.name {
    font-size: 35px;
  }

  .userDetails .details .dataBox p {
    font-size: 18px;
    margin: 5px;
  }
}

@media (min-width: 844px) and (orientation: landscape) {
  .detailsBox .buttons button {
    width: 40%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .detailsBox p.links {
    font-size: 30px;
  }

  .detailsBox h1 {
    font-size: 45px;
  }

  .detailsBox .details .price {
    font-size: 45px;
  }

  .detailsBox .details .leftBox p {
    margin-left: 5px;
    font-size: 28px;
  }
  .detailsBox .details .leftBox .userIcon {
    font-size: 28px;
  }

  .detailsBox .details .heartIcon {
    font-size: 40px;
  }

  .detailsBox .buttons button {
    width: 35%;

    font-size: 30px;
    height: auto;
    padding: 20px;
  }

  .detailsBox .buttons button .icon {
    margin-left: 15px;
  }

  .descriptionBox p.title {
    font-size: 30px;
  }

  .descriptionBox p.description {
    font-size: 28px;
  }

  .descriptionBox button {
    font-size: 20px;
  }

  .userDetails {
    width: 65%;
  }

  .userDetails img {
    border-radius: 160px;
  }

  .userDetails .details p.name {
    font-size: 45px;
  }

  .userDetails .details .dataBox p {
    font-size: 26px;
    margin: 5px;
  }
}

@media (min-width: 1200px) {
  .detailsBox p.links {
    margin-left: 20px;
    font-size: 25px;
  }

  .detailsBox h1 {
    font-size: 40px;
  }

  .detailsBox img {
    width: 60%;
    height: 70vh;
  }

  .detailsBox .details {
    width: 60%;
  }

  .detailsBox .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .detailsBox .buttons button {
    width: 30%;
    height: auto;
    padding: 15px;
  }

  .descriptionBox p.description {
    padding: 0 5vw;
  }

  .userDetails {
    width: 45%;
  }

  .userDetails img {
    width: 15vw;
    height: 15vw;
    border-radius: 100px;
  }

  .userDetails .details p.name {
    font-size: 40px;
  }

  .userDetails .details .dataBox p {
    font-size: 22px;
    margin: 5px;
  }
}

@media (min-width: 1600px) {
  .userDetails {
    width: 40%;
  }
  .detailsBox .buttons button {
    width: 25%;
  }

  .userDetails img {
    width: 15vw;
    height: 15vw;
    border-radius: 160px;
  }
  .descriptionBox p.description {
    padding: 0 10vw;
  }
}
