.container {
  position: relative;
}

.choiseBox {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  width: 65%;
}

.choiseBox button {
  border: none;
  background-color: white;
  font-size: 20px;
  text-align: left;
  display: flex;
  align-items: center;
}

.choiseBox .addBtn {
  margin: 20px 0;
  background-color: #2a91a4;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.choiseBox button p {
  margin: 0;
  line-height: 100%;
  padding: 10px 0;
}

.choiseBox button .panelIcon {
  color: #2a91a4;
  padding: 10px;
  width: 6vw;
  height: 6vw;
}

.choiseBox button.addBtn .panelIcon {
  color: white;
}

.logoutBtn {
  position: absolute;
  top: 0;
  right: 10px;
  background-color: rgb(186, 0, 0);
  color: white;
  width: 6vw;
  height: 6vw;
  border-radius: 10px;
  padding: 1vw;
}

@media (min-width: 768px) and (orientation: portrait) {
  .choiseBox {
    width: 40%;
  }

  .choiseBox button p {
    font-size: 26px;
  }

  .choiseBox button .panelIcon {
    width: 5vw;
    height: 5vw;
  }

  .logoutBtn {
    width: 4vw;
    height: 4vw;
  }
}

@media (min-width: 900px) and (orientation: portrait) {
  .choiseBox {
    width: 50%;
  }

  .choiseBox button p {
    font-size: 40px;
  }

  .choiseBox button .panelIcon {
    width: 6vw;
    height: 6vw;
  }

  .logoutBtn {
    width: 5vw;
    height: 5vw;
  }

  .choiseBox .addBtn {
    padding: 10px;
  }
}

@media (min-width: 667px) and (orientation: landscape) {
  .choiseBox {
    width: 45%;
  }

  .choiseBox button p {
    font-size: 26px;
  }

  .choiseBox button .panelIcon {
    width: 5vw;
    height: 5vw;
  }

  .logoutBtn {
    width: 4vw;
    height: 4vw;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .choiseBox {
    width: 35%;
  }
}

@media (min-width: 1200px) {
  .choiseBox {
    margin: 15px;
    width: 65%;
  }

  .choiseBox button {
    font-size: 30px;
  }

  .choiseBox .addBtn {
    padding: 5px;
  }

  .choiseBox button p {
    font-size: 30px;
  }

  .choiseBox button .panelIcon {
    width: 4vw;
    height: 4vw;
  }

  .logoutBtn {
    right: 50px;
    width: 3vw;
    height: 3vw;
  }
}

@media (min-width: 1600px) {
  .choiseBox button .panelIcon {
    width: 3vw;
    height: 3vw;
  }

  .logoutBtn {
    width: 2vw;
    height: 2vw;
    padding: 10px;
  }
}
