.container {
  overflow: hidden;
}

.textBox strong {
  text-align: left;
  width: 100%;
  display: block;
  padding: 10px 0 10px 10px;
  font-size: 20px;
}

.textBox .normalText {
  text-align: justify;
  padding: 10px;
  margin: 0;
}

.imgBox {
  position: relative;
  margin: 0;
  width: 100%;
  height: 30vh;
  background-image: url("../Resource/termsOfUse.jpg");
  background-position: center center;
  background-size: cover;
}

.imgBox p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 100%;
  font-size: 40px;
  color: white;
}

.imgBox .opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) and (orientation: portrait) {
  .imgBox {
    height: 40vh;
  }
  .imgBox p {
    font-size: 50px;
  }
  .textBox strong {
    font-size: 30px;
  }

  .textBox .normalText {
    font-size: 22px;
  }
}

@media (min-width: 900px) and (orientation: portrait) {
  .imgBox p {
    font-size: 60px;
  }
  .textBox strong {
    font-size: 40px;
  }

  .textBox .normalText {
    font-size: 30px;
  }
}
