.DataRecordBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  margin: 0 auto;
}

.DataRecordBox p {
  font-weight: bold;
  margin: 0;
  padding: 7px;
  display: block;
  width: 35%;
  text-align: left;
}

.DataRecordBox p.data {
  width: 50%;
  font-weight: normal;
}

.DataRecordBox button {
  border: none;
  background-color: white;
  color: #2a91a4;
}

.DataRecordBox .icon {
  width: 5vw;
  height: 5vw;
}

.DataRecordBox .dataInput {
  width: 50%;
  padding: 5px;
  border-radius: 8px;
  border: 2px solid #2a91a4;
}

@media (min-width: 768px) and (orientation: portrait) {
  .DataRecordBox p {
    font-size: 28px;
  }

  .DataRecordBox .dataInput {
    padding: 10px;
    font-size: 22px;
  }
}

@media (min-width: 900px) and (orientation: portrait) {
  .DataRecordBox p {
    font-size: 40px;
  }

  .DataRecordBox .dataInput {
    padding: 10px;
    font-size: 30px;
  }
}
