.filtr {
  width: 90%;
  margin: 20px auto;
}

.filtr .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filtr .filterBox {
  display: flex;
  align-items: center;
}

.filtr .filterBox .category {
  width: 60vw;
}

.filterBox .category .selectedCategory {
  background-color: #2a91a4;
  border-radius: 10px;
  padding: 16px;
  margin: 10px;
  color: white;
}
.filterBox .category .selectedCategory p {
  margin: 0;
}

.filtr .filterBox p {
  font-size: 20px;
}

.filtr .filterBox .iconCancel {
  color: grey;
  font-size: 16px;
  padding: 5px;
}

.filtr .filterBox .icon {
  font-size: 20px;
  padding: 5px;
  color: grey;
  border-radius: 10px;
}

.filtr .priceFilter {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}

.filtr .priceFilter .inputBox {
  flex-basis: 30%;
}

.filtr .filterBox .active {
  color: black;
}

@media (min-width: 768px) and (orientation: portrait) {
  .filtr {
    width: 80%;
    margin: 20px auto;
  }

  .filtr .filterBox .category {
    width: 45vw;
  }

  .filterBox .category .selectedCategory p {
    font-size: 28px;
    padding: 5px;
  }

  .filtr .filterBox .iconCancel {
    font-size: 22px;
  }

  .filtr .filterBox .icon {
    font-size: 28px;
  }

  .filtr .priceFilter {
    font-size: 28px;
    margin: 20px auto;
  }
}

@media (min-width: 900px) and (orientation: portrait) {
  .filtr .filterBox .category {
    width: 45vw;
  }

  .filterBox .category .selectedCategory p {
    font-size: 32px;
    padding: 10px;
  }

  .filtr .filterBox .iconCancel {
    font-size: 30px;
  }

  .filtr .filterBox .icon {
    font-size: 36px;
  }

  .filtr .priceFilter {
    font-size: 32px;
  }
}

@media (min-width: 667px) and (orientation: landscape) {
  .filtr {
    width: 80%;
    margin: 20px auto;
  }

  .filtr .filterBox .category {
    width: 40vw;
  }

  .filterBox .category .selectedCategory p {
    font-size: 22px;
    padding: 0;
  }

  .filtr .filterBox .iconCancel {
    font-size: 22px;
  }

  .filtr .filterBox .icon {
    font-size: 24px;
  }

  .filtr .priceFilter {
    font-size: 24px;
    margin: 20px auto;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .filtr {
    width: 55%;
  }

  .filtr .filterBox .category {
    width: 25vw;
  }
}

@media (min-width: 1200px) {
  .filtr {
    width: 40%;
  }

  .filtr .filterBox .category {
    width: 28vw;
  }

  .filterBox .category .selectedCategory p {
    font-size: 28px;
    padding: 5px;
  }

  .filtr .priceFilter {
    width: 85%;
    font-size: 25px;
  }

  .filtr .filterBox .icon {
    font-size: 30px;
  }
}

@media (min-width: 1600px) {
  .filtr {
    width: 40%;
  }

  .filtr .filterBox .category {
    width: 25vw;
  }

  .filtr .priceFilter {
    width: 75%;
  }
}

@media (min-width: 1900px) {
  .filtr {
    width: 40%;
  }

  .filtr .filterBox .category {
    width: 20vw;
  }

  .filtr .priceFilter {
    width: 75%;
  }
}
