.footer {
  background-color: #002c3d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box .title {
  color: white;
  font-size: 30px;
  border-bottom: dotted 2px white;
  padding: 15px;
  margin: 0;
}

.box p {
  color: white;
  font-size: 15px;
  margin: 0;
  padding: 8px;
}

.copyrights {
  color: white;
  font-size: 11px;
}

@media (min-width: 768px) and (orientation: portrait) {
  .footer .box {
    flex-basis: 35%;
  }

  .box .title {
    font-size: 40px;
    border-bottom: dotted 3px white;
  }

  .box p {
    font-size: 20px;
    padding: 15px;
  }

  .copyrights {
    font-size: 18px;
    flex-basis: 100%;
  }
}

@media (min-width: 900px) and (orientation: portrait) {
  .box .title {
    font-size: 50px;
    border-bottom: dotted 4px white;
  }

  .box p {
    font-size: 26px;
    padding: 20px;
  }

  .copyrights {
    font-size: 20px;
    flex-basis: 100%;
  }
}

@media (min-width: 667px) and (orientation: landscape) {
  .footer .box {
    flex-basis: 30%;
  }

  .copyrights {
    font-size: 16px;
    flex-basis: 100%;
  }
}

@media (min-width: 844px) and (orientation: landscape) {
  .footer .box {
    flex-basis: 30%;
  }

  .box .title {
    font-size: 40px;
    border-bottom: dotted 4px white;
  }

  .box p {
    font-size: 24px;
    padding: 15px;
  }

  .copyrights {
    font-size: 20px;
    flex-basis: 100%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .footer .box {
    flex-basis: 30%;
  }

  .box .title {
    font-size: 50px;
    border-bottom: dotted 4px white;
  }

  .box p {
    font-size: 28px;
    padding: 15px;
  }

  .copyrights {
    font-size: 20px;
    flex-basis: 100%;
  }
}
