.container {
  width: 45vw;
  height: 30vh;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container img {
  width: 45vw;
  height: 45vw;
  object-fit: cover;
  border-radius: 10px;
}

.name {
  margin: 5px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.price {
  margin: 0 10px;
  font-weight: bold;
}

.icon {
  margin: 0 10px;
}

@media (max-height: 750px) {
  .container {
    height: 40vh;
  }
}

@media (max-width: 350px) {
  .container {
    height: 30vh;
  }
  .box {
    font-size: 14px;
  }
  .name {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .container {
    width: 40vw;
    height: 50vw;
    margin-bottom: 60px;
    margin-top: 30px;
  }

  .container img {
    width: 40vw;
    height: 40vw;
    border-radius: 15px;
  }

  .name {
    font-size: 25px;
  }

  .box {
    width: 90%;
    margin: 0 auto;
    font-size: 30px;
  }
}

@media (min-width: 900px) and (orientation: portrait) {
  .container {
    width: 45vw;
    height: 55vw;
  }

  .container img {
    width: 40vw;
    height: 40vw;
    border-radius: 15px;
  }

  .name {
    font-size: 30px;
  }

  .box {
    width: 90%;
    margin: 0 auto;
    font-size: 35px;
  }
}

@media (min-width: 667px) and (orientation: landscape) {
  .container {
    width: 30vw;
    height: 85vh;
    margin-bottom: 20px;
  }

  .container img {
    width: 30vw;
    height: 30vw;
    border-radius: 15px;
  }

  .name {
    font-size: 18px;
  }

  .box {
    font-size: 20px;
  }

  .price {
    margin: 10px 20px;
    font-size: 20px;
  }

  .icon {
    margin: 0 10px;
    font-size: 25px;
  }
}

@media (min-width: 844px) and (orientation: landscape) {
  .container {
    width: 30vw;
    height: 90vh;
    margin-bottom: 20px;
  }

  .container img {
    width: 30vw;
    height: 30vw;
    border-radius: 15px;
  }

  .name {
    font-size: 18px;
  }

  .box {
    font-size: 20px;
  }

  .price {
    margin: 10px 20px;
    font-size: 20px;
  }

  .icon {
    margin: 0 10px;
    font-size: 25px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .container {
    width: 30vw;
    height: 60vh;
    margin-bottom: 20px;
  }

  .container img {
    width: 30vw;
    height: 30vw;
    border-radius: 15px;
  }

  .name {
    font-size: 30px;
  }

  .box {
    font-size: 20px;
  }

  .price {
    margin: 10px 20px;
    font-size: 30px;
  }

  .icon {
    margin: 0 10px;
    font-size: 40px;
  }
}
