.search {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input[type="text"] {
  border: solid 2px #2a91a4;
  background-color: #f6f6f6;
  border-radius: 10px;
  min-width: 60vw;
  min-height: 4vh;
  padding: 5px;
}

.search input[type="text"]::placeholder {
  color: #b6b6b6;
  font-size: 20px;
  line-height: 5vh;
}

.search button {
  background-color: #2a91a4;
  border: none;
  border-radius: 10px;
  min-width: 5vh;
  min-height: 5vh;
  padding: 10px;
  margin-left: 10px;
}

.icon {
  color: white;
  font-size: 20px;
}

@media (min-width: 768px) and (orientation: portrait) {
  .search {
    margin: 50px;
  }

  .search input[type="text"] {
    border: solid 3px #2a91a4;
    font-size: 26px;
    min-width: 50vw;
  }

  .search input[type="text"]::placeholder {
    font-size: 26px;
  }

  .search button {
    min-width: 5.5vh;
    min-height: 5.5vh;
  }

  .icon {
    font-size: 28px;
  }
}

@media (min-width: 900px) and (orientation: portrait) {
  .search input[type="text"] {
    border: solid 4px #2a91a4;
    border-radius: 15px;
    min-width: 60vw;
    min-height: 5vh;
    font-size: 35px;
  }

  .search input[type="text"]::placeholder {
    font-size: 35px;
    height: 5vh;
  }

  .search button {
    min-width: 6vh;
    min-height: 6vh;
    border-radius: 15px;
  }

  .icon {
    font-size: 35px;
  }
}
