::-webkit-scrollbar {
  width: 0px;
}

.container {
  background-color: #2a91a4;
}

.slider {
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.card {
  flex-shrink: 0;
  width: 30vw;
  height: 14vh;
}

.card img {
  width: 12vh;
  height: 12vh;
  border-radius: 60px;
  object-fit: cover;
}

.text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  color: white;
}

.text p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 15px 0;
}

.showMore p {
  font-size: 13px;
  color: white;
  font-weight: 300;
}

@media (min-width: 768px) and (orientation: portrait) {
  .card {
    width: 30vw;
    height: 22vh;
  }

  .card img {
    width: 16vh;
    height: 16vh;
    border-radius: 120px;
  }

  .card p {
    font-size: 26px;
  }

  .text p {
    font-size: 35px;
    margin: 20px 0;
  }

  .showMore p {
    font-size: 20px;
  }
}

@media (min-width: 900px) and (orientation: portrait) {
  .card p {
    font-size: 34px;
  }

  .text p {
    font-size: 50px;
    margin: 30px 0;
  }

  .showMore p {
    font-size: 25px;
  }
}

@media (min-width: 667px) and (orientation: landscape) {
  .card {
    width: 30vw;
    height: 60vh;
  }

  .card p {
    font-size: 24px;
  }

  .card img {
    width: 40vh;
    height: 40vh;
    border-radius: 100px;
  }

  .text {
    margin: 0 20px;
  }

  .text p {
    margin: 25px 0;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .card {
    width: 30vw;
    height: 40vh;
  }

  .card p {
    font-size: 28px;
  }

  .card img {
    width: 30vh;
    height: 30vh;
    border-radius: 140px;
  }

  .text {
    margin: 0 20px;
  }

  .text p {
    margin: 30px 0;
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .slider {
    margin-top: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card {
    width: 25vw;
    height: 32vh;
  }

  .card img {
    width: 25vh;
    height: 25vh;
    border-radius: 150px;
  }

  .text p {
    font-size: 40px;
    margin: 30px 0;
  }
}
